/* html,body{
  background-color: rgba(75, 191, 107);
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
} */
.main{
  background-color: rgba(75, 191, 107);
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
}
.list{
}
.card{
  background-color: rgba(224,227,230);
  border-radius: 3px;
  width: 272px;
  margin: 10px 4px;
}
.card-header{
  height: 40px;
}
.card-header-name{
  margin: 0px 6px 0px 6px;
  color: rgba(31,57,75);
  font-weight: bold;
  background: transparent;
  border: 1px solid transparent;
  width: 212px;
  line-height: 20px;
  resize: none;
}
.card-header-icon{
  display:inline-block;
}
.card-content{
  background-color: rgba(255,255,255);
  margin: 0px 6px 6px 6px;
  padding: 6px 8px 2px;
  color: rgba(31,57,75);
  border-radius: 3px;
  cursor: pointer;
  max-width: 300px;
  min-height: 20px;
  display: block;
}
.card-content:hover{
  background-color: rgba(245,246,247)
}
.card-footer{
  padding: 0px 6px 0px 6px;
  color: rgba(125,141,152);
}
.card-footer:hover{
  background-color: rgba(197,204,208);
  color: rgba(31,56,75);
  text-decoration: underline;
}
.card-ghost {
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
}
.card-ghost-drop {
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
}
#add-list-btn{
  background-color: rgba(95,166,101);
  color: rgba(223,237,224);
  border-radius: 3px;
  width: 272px;
  margin: 10px 4px;
}
#add-list-btn:hover{
  background-color: rgba(82,142,88);
}
#add-list{
  background-color: rgba(224,227,230);
  border-radius: 3px;
  width: 272px;
  margin: 10px 4px;
}
.new-card-textarea{
  border: 0px;
  width: 93%;
  height:45px;
}
.add-card-btn{
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
}